@-webkit-keyframes jump {
  50% {
    transform: translateY(-30%);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-30%);
  }
}

@-webkit-keyframes upscale {
  50% {
    transform: scale(1.5);
  }
}

@keyframes upscale {
  50% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes spin {
  50% {
    transform: rotate(180deg);
  }
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes squash {
  50% {
    transform: scaleY(0);
  }
}

@keyframes squash {
  50% {
    transform: scaleY(0);
  }
}

@-webkit-keyframes skew {
  50% {
    transform: skew(-30deg);
  }
}

@keyframes skew {
  50% {
    transform: skew(-30deg);
  }
}

@-webkit-keyframes leap {
  50% {
    transform: translateY(-50%) rotate(-15deg);
  }
}

@keyframes leap {
  50% {
    transform: translateY(-50%) rotate(-15deg);
  }
}

@-webkit-keyframes fade {
  50% {
    transform: translateY(50%);
    opacity: 0;
  }
}

@keyframes fade {
  50% {
    transform: translateY(50%);
    opacity: 0;
  }
}

@-webkit-keyframes sheen {
  50% {
    transform: translateY(-10%);
    color: #eee;
  }
}

@keyframes sheen {
  50% {
    transform: translateY(-10%);
    color: #eee;
  }
}

@-webkit-keyframes xspin {
  50% {
    transform: scaleX(0);
  }
}

@keyframes xspin {
  50% {
    transform: scaleX(0);
  }
}

.wobble span {
  display: inline-block;
  pointer-events: none;
}

.wobble span.jump {
  -webkit-animation: jump 0.5s 1;
  animation: jump 0.5s 1;
}

.wobble span.upscale {
  -webkit-animation: upscale 0.5s 1;
  animation: upscale 0.5s 1;
}

.wobble span.spin {
  -webkit-animation: spin 0.5s 1;
  animation: spin 0.5s 1;
}

.wobble span.skew {
  -webkit-animation: skew 0.5s 1;
  animation: skew 0.5s 1;
}

.wobble span.squash {
  -webkit-animation: squash 0.5s 1;
  animation: squash 0.5s 1;
  transform-origin: bottom;
}

.wobble span.leap {
  -webkit-animation: leap 0.7s 1;
  animation: leap 0.7s 1;
}

.wobble span.fade {
  -webkit-animation: fade 0.5s 1;
  animation: fade 0.5s 1;
}

.wobble span.sheen {
  -webkit-animation: sheen 0.3s 1;
  animation: sheen 0.3s 1;
}

.wobble span.xspin {
  -webkit-animation: xspin 0.5s 1;
  animation: xspin 0.5s 1;
}

.info {
  background: #f6f6f6;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 4px;
  box-shadow: 0 20px 50px -45px #333;
  max-width: 600px;
}

.info p {
  font-size: 18px;
  line-height: 1.4;
}

.info p+p {
  margin-top: 20px;
}

.info a {
  color: coral;
  text-decoration: none;
}